<section>
  <div class="container">

    <h2 class="text-center">
      Contact Us
    </h2>

    <!-- Contact Us form content. -->
    <div *ngIf="requestResult.requestState == requestState.Idle || requestResult.requestState == requestState.Pending;else completed_content">

      <form name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>

        <!-- Full Name -->
        <div class="form-group">
          <label for="fullName">Full Name</label>
          <input type="text" class="form-control" name="fullName" [(ngModel)]="model.fullName" #fullName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fullName.invalid }" required />
          <div *ngIf="f.submitted && fullName.invalid" class="invalid-feedback">
            <div *ngIf="fullName.errors.required">Full Name is required</div>
          </div>
        </div>

        <!-- Email Address -->
        <div class="form-group">
          <label for="email">EMAIL</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
          <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">Email must be a valid email address</div>
          </div>
        </div>

        <!-- Phone Number -->
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="model.phoneNumber" #phoneNumber="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phoneNumber.invalid }" required pattern="[0-9]{2,3}-?[0-9]{7}" />
          <div *ngIf="f.submitted && phoneNumber.invalid" class="invalid-feedback">
            <div *ngIf="phoneNumber.errors.required">Phone Number is required</div>
            <div *ngIf="phoneNumber.errors.pattern">Please enter a valid Israeli number (ex: 03-1234567 / 053-1234567)</div>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="form-group">
          <button class="btn btn-primary">
            <i *ngIf="requestResult.requestState == requestState.Pending" class="fa fa-spinner fa-spin"></i>
            Submit
          </button>
        </div>
      </form>

    </div>

    <!-- Contact Us form submitted content. -->
    <ng-template #completed_content>

      <ng-container>

        <div class="card-content">
          <div class="info info-horizontal">
            <div class="description">

              <!-- Success message. -->
              <div *ngIf="requestResult.requestState === requestState.Success">
                <h2>Thank you for contacting us.</h2>
                <h4>Thank you for your message. We will respond to you as soon as possible.</h4>
              </div>

              <!-- Fauilue message. -->
              <div *ngIf="requestResult.requestState === requestState.Error">
                <h2>Oops, an error occurred.</h2>
                <h4>Please try again later.</h4>
              </div>

            </div>
          </div>
        </div>

      </ng-container>

    </ng-template>
  </div>
</section>
