<ul class="list-unstyled">
  <li>

    <!-- Intro  -->
    <a [routerLink]="['/intro']">
      <i class="fas fa-smile"></i>
      Hi
    </a>

    <!-- Home  -->
    <a [routerLink]="['/home']">
      <i class="fas fa-home"></i>
      Home
    </a>

    <!-- Posts -->
    <a [routerLink]="['/posts']">
      <i class="fas fa-newspaper"></i>
      Posts
    </a>

    <!-- Gallery -->
    <a [routerLink]="['/gallery']">
      <i class="fas fa-images"></i>
      Gallery
    </a>

    <!-- Contact Us  -->
    <a [routerLink]="['/contact']">
      <i class="fas fa-envelope"></i>
      Contact Us
    </a>

  </li>
</ul>
