  <section>
    <div class="container">

      <h2 class="text-center">
        Home Page
      </h2>


      <div class="row">

        <div class="col-md-6">
          <!-- Gallery top 10 -->

          <h4 class="text-center m-4 text-white">
            Gallery (Top 10)
          </h4>

          <gallery-top></gallery-top>

        </div>

        <div class="col-md-6">


          <!-- Posts top 10 -->

          <h4 class="text-center m-4 text-white">
            Posts (Top 10)
          </h4>
          <posts-top></posts-top>

        </div>
      </div>

    </div>
    </section>

